<div layout="column" layout-align="center center" layout-fill="layout-fill" >
    <div layout="column" style="max-width: 90%; width: 500px">
        <md-content layout="row" class="mainTitle">
            <div><h1>IRPS</h1></div><div style="position: relative"><h2>Backend</h2></div>
        </md-content>
        <div class="md-whiteframe-z2">
            <form name="loginForm">
            <md-toolbar>
                <h2 class="md-toolbar-tools"><span>Login</span></h2>
            </md-toolbar>
            <md-toolbar layout="row" class="md-warn" ng-show="loginForm.$error.login">
                <div ng-click="loginForm.$error.login = false" class="md-toolbar-tools">
                    Error logging in
                </div>
            </md-toolbar>
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="login.username" required/>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="login.password" required/>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button class="md-raised md-primary" ng-click="login.loginUser(login.username, login.password)">Login</md-button>
                    <!--<div flex="flex"></div>-->
                    <!--<md-button ng-click="login.gotoReset()" md-no-ink="md-no-ink">Forgot Password</md-button>-->
                </div>
            </md-content>
            </form>
        </div>
    </div>
</div>