<div layout="column" layout-align="center center" layout-fill="layout-fill" >
    <div layout="column" style="max-width: 90%; width: 500px">
        <div layout="row" class="mainTitle"><h1>IRPS</h1><h2>Backend</h2></div>
        <div class="md-whiteframe-z2">
            <form name="loginForm">
            <md-toolbar>
                <h2 class="md-toolbar-tools"><span>Reset Password</span></h2>
            </md-toolbar>
            <md-toolbar layout="row" class="md-hue-3" ng-show="loginForm.$error.login">
                <div class="md-toolbar-tools">
                    <span>Error Resetting new password</span>
                </div>
            </md-toolbar>
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label>New Password</label>
                    <input type="password" ng-model="login.password"/>
                </md-input-container>
                <md-input-container>
                    <label>Re-type New Password</label>
                    <input type="password" ng-model="login.password_confirm"/>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button class="md-raised md-primary" ng-click="login.resetNew(login.password, login.password_confirm)">Set New Password</md-button>
                    <md-button class="md-raised md-primary" ng-click="login.back()">Back to Login</md-button>
                </div>
            </md-content>
            </form>
        </div>
    </div>
</div>