<div layout="column" layout-align="center center" layout-fill="layout-fill" >
            <div layout="column" style="max-width: 90%; width: 500px">
              <div class="md-whiteframe-1dp">
              <md-toolbar class="md-accent">
                <h2 class="md-toolbar-tools"><span>Change Password</span></h2>
              </md-toolbar>
                <md-content layout="column" class="md-padding">
                  <md-input-container>
                    <label>Username</label>
                    <input type="email" ng-model="username"/>
                  </md-input-container>
                  <md-input-container>
                    <label>New Password</label>
                    <input type="password" ng-model="password"/>
                  </md-input-container>
                  <md-input-container>
                    <label>Re-type New Password</label>
                    <input type="password" ng-model="username"/>
                  </md-input-container>
                  <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button class="md-raised md-primary">Update Password</md-button>
                    <md-button class="md-raised md-primary">Back to Main</md-button>
                    <div flex="flex"></div>
                  </div>
                </md-content>
              </div>
            </div>
</div>
