.mainTitle {
    vertical-align: auto;
    text-align: left;
    width: 100%;
    min-height: 70px;
    max-height: 70px;
    overflow: visible;
}

.mainTitle h1 {
    font-size: 70px;
    font-weight: normal;
    color: greenyellow;
    margin: 0px;
}

.mainTitle h2 {
    font-size: 40px;
    font-weight: lighter;
    color: gainsboro;
    margin: 0px;
    position: absolute;
    bottom: 0px;
}

.tabletitle {
    font-weight: bold;
    font-size: medium;
}

md-input-container.forminput {
    margin: 0px !important;
}