.mainTitle {
    vertical-align: bottom;
    text-align: left;
    width: 100%;
    min-height: 70px;
    max-height: 70px;
    overflow: visible;
}

.mainTitle h1 {
    font-size: 70px;
    font-weight: normal;
    color: greenyellow;
    margin: 0px;
}

.mainTitle h2 {
    font-size: 26px;
    font-weight: lighter;
    color: darkgrey;
    margin: 0px;
    position: absolute;
    bottom: 0px;
}

.tabletitle {
    font-weight: bold;
    font-size: medium;
}

md-input-container.forminput {
    margin: 0px !important;
}

div.hideOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap
}

md-list-item.listpadding {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
}