<div layout="column" layout-align="center center" layout-fill="layout-fill" class="md-padding">
    <div layout="column" style="max-width: 90%; width: 800px">
        <form layout="row" ng-submit="$event.preventDefault()" flex>
            <div layout="row" flex="20">
                <md-input-container class="md-block">
                    <md-select ng-model="assessments.filterType">
                        <md-option ng-repeat="type in assessments.searchTypes" value="{{type.value}}">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="5">
                &nbsp;
            </div>
            <div flex="75">
                <md-input-container class="md-block" flex>
                    <label>Search Assessment</label>
                    <input ng-model="assessments.filter">
                </md-input-container>
            </div>
        </form>
        <div layout="column" class="md-whiteframe-z1">
            <md-toolbar layout="row" class="md-padding md-hue-3 tabletitle" class="noright" flex>
                <div flex="20">Asessment Date</div>
                <div flex="40">Client</div>
                <div flex="30">Status</div>
                <div flex="10">View</div>
            </md-toolbar>
            <md-divider></md-divider>
            <md-list-item ng-repeat="assessment in assessments.assessmentList | filter:assessments.filter" ng-click="''" class="noright" flex>
                <div flex="20">{{ assessments.formatdate(assessment.assessmentDate) }}</div>
                <div flex="40">{{ assessment.clientInfo.clientName}}</div>
                <div flex="30">{{ assessments.getAssessmentStatus(assessment.assessmentStatus.id) }}</div>
                <div flex="10" layout="row">
                    <md-button class="md-icon-button md-accent" aria-label="View" ng-click="assessments.viewAssessment(assessment.id)">
                        <i class="material-icons">forward</i>
                    </md-button>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </div>
        <br>
        <div>&nbsp;</div>
    </div>
</div>