<!DOCTYPE html>
<html>
    <head>
        <title>IRPS Backend</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    </head>
    <body ng-app="irpbackendModule" ng-cloak="true">
        <md-content ng-controller="irpbackendController" style="height: 100%">
            <ui-view></ui-view>
        </md-content>
    </body>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="bower_components/lodash/dist/lodash.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css"></link>
    <link rel="stylesheet" type="text/css" href="main.css"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
    
    <!-- application scripts -->
    <script type="text/javascript" src="common/constants.js"></script>
    
    <script type="text/javascript" src="index.module.js"></script>
    <script type="text/javascript" src="index.route.js"></script>
    <script type="text/javascript" src="index.controller.js"></script>
    <script type="text/javascript" src="index.config.js"></script>
    
    <script type="text/javascript" src="login/login.module.js"></script>
    <script type="text/javascript" src="login/login.route.js"></script>
    <script type="text/javascript" src="login/login.controller.js"></script>
    <script type="text/javascript" src="login/login.services.js"></script>
    
    <script type="text/javascript" src="main_screen/main.module.js"></script>
    <script type="text/javascript" src="main_screen/main.route.js"></script>
    <script type="text/javascript" src="main_screen/main.controller.js"></script>
    <script type="text/javascript" src="main_screen/main.user.services.js"></script>
    
    <script type="text/javascript" src="user_maintenance/user.module.js"></script>
    <script type="text/javascript" src="user_maintenance/user.route.js"></script>
    <script type="text/javascript" src="user_maintenance/user.controller.js"></script>
    <script type="text/javascript" src="user_maintenance/user.edit.controller.js"></script>
    <script type="text/javascript" src="user_maintenance/user.services.js"></script>
    
    <script type="text/javascript" src="questionnaire/questionnaire.module.js"></script>
    <script type="text/javascript" src="questionnaire/questionnaire.route.js"></script>
    <script type="text/javascript" src="questionnaire/questionnaire.controller.js"></script>
    <script type="text/javascript" src="questionnaire/questionnaire.edit.controller.js"></script>
    <script type="text/javascript" src="questionnaire/questionnaire.services.js"></script>

    <script type="text/javascript" src="view_assessment/assessment.module.js"></script>
    <script type="text/javascript" src="view_assessment/assessment.route.js"></script>
    <script type="text/javascript" src="view_assessment/assessment.controller.js"></script>
    <script type="text/javascript" src="view_assessment/assessment.view.controller.js"></script>
    <script type="text/javascript" src="view_assessment/assessment.services.js"></script>
</html>
