<!DOCTYPE html>
<div layout="column" layout-align="center center" layout-fill="layout-fill" class="md-padding">
    <div layout="column" style="max-width: 90%; width: 800px">
        <div><h2>{{questions.editModeTitle}} Question</h2></div>
        <div>
            <form>
                <div layout="column">
                    <md-input-container class="md-block">
                        <label>Question ID</label>
                        <input ng-model="questions.editQuestion.question[0].id" disabled>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Question</label>
                        <textarea ng-model="questions.editQuestion.question[0].question" md-maxlength="300" rows="3"></textarea>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Question Group</label>
                        <md-select ng-model="questions.editQuestion.question[0].answerTypes.answerType">
                            <md-option ng-repeat="type in questions.answerTypes" value="{{type.value}}">
                                {{type.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="questions.back()">Back</md-button>
                    <span layout="row" ng-if="questions.editMode === 'edit'">
                        <md-button class="md-raised md-primary" ng-click="questions.delete()">Delete Question</md-button>
                        <md-button class="md-raised md-primary" ng-click="questions.update()">Update Question</md-button>
                    </span>
                    <span layout="row" ng-if="questions.editMode === 'new'">
                        <md-button class="md-raised md-primary" ng-click="questions.reset()">Reset</md-button>
                        <md-button class="md-raised md-primary" ng-click="questions.save()">Save Question</md-button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div>{{questions.editQuestion}}</div>
