<div layout="column" layout-align="center center" layout-fill="layout-fill" class="md-padding">
    <div layout="column" style="max-width: 90%; width: 800px">
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label>Search Question</label>
                <input ng-model="questions.filter">
            </md-input-container>
        </div>
        <div layout="column" class="md-whiteframe-z1">
            <md-toolbar layout="row" class="md-padding md-hue-3 tabletitle" class="noright" flex>
                <div flex="10"></div>
                <div flex="5">#</div>
                <div flex="55">Question</div>
                <div flex="20">Answer type</div>
                <div flex="10"></div>
            </md-toolbar>
            <md-divider></md-divider>
            <md-list-item ng-repeat="currentQuest in questions.questionList | filter:questions.filter | orderBy:'priorityNumber'" ng-click="''" class="noright" flex>
                <div flex="10">
                    <md-button class="md-icon-button md-primary" aria-label="">
                        <i class="material-icons">menu</i>
                    </md-button>
                </div>
                <div flex="5">{{currentQuest.priorityNumber}}</div>
                <div flex="55">{{currentQuest.questionTxt}}</div>
                <div flex="20">{{questions.getAnswerTypes(currentQuest.answerTypes.id)}}</div>
                <div flex="10" layout="row">
                    <md-button class="md-icon-button md-primary" aria-label="Clear" ng-click="questions.deleteQuestion(currentQuest.id)">
                        <i class="material-icons">clear</i>
                    </md-button>
                    <md-button class="md-icon-button md-accent" aria-label="Edit" ng-click="questions.editQuestion(currentQuest.id)">
                        <i class="material-icons">mode_edit</i>
                    </md-button>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </div>
        <br>
        <div layout="row">
            <div flex>&nbsp;</div><div>
                <md-button class="md-raised md-primary" 
                           ng-click="questions.newQuestion()"
                           >Create New Question</md-button></div>
        </div>
    </div>
</div>

