<div layout="column" layout-align="center center" layout-fill="layout-fill" >
    <div layout="column" style="width: 1000px">
        <md-content layout="row" class="mainTitle">
            <div><h1>YRS</h1></div><div style="position: relative"><h2>YourRiskSnapshot.Backend</h2></div>
        </md-content>
        <div class="md-whiteframe-z2">
            <md-toolbar class="md-primary" layout="row">
                <div layout="row" style="font-size: small; padding: 20px">
                    <span>Welcome: <strong>{{main.currentUser.fullName}}</strong></span>,&nbsp;
                    <span>Today is {{main.currentDate}}</span></div>
                <div flex></div>
                <div>
                    <md-button ng-click="main.changePassword()" ng-href="">Change Password</md-button>
                    <md-button ng-click="main.logout()" ng-href="">Log-off</md-button>
                </div>
            </md-toolbar>
            <md-divider></md-divider>
            <md-tabs md-dynamic-height md-border-bottom style="min-height: 500px" md-selected="selectedIndex" ng-show="main.showMain">
                <md-tab label="User Maintenance">
                    <md-content class="md-padding">
                        <div ui-view="user_view"></div>
                    </md-content>
                </md-tab>
                <md-tab label="Questionnaire Management">
                    <md-content class="md-padding">
                        <div ui-view="question_view"></div>
                    </md-content>
                </md-tab>
                <md-tab label="View Assessment">
                    <md-content class="md-padding">
                        <div ui-view="assessment_view"></div>
                    </md-content>
                </md-tab>
                <md-tab label="Parameters">
                    <md-content class="md-padding">
                        <div ui-view="parameters_view"></div>
                    </md-content>
                </md-tab>
            </md-tabs>
            <div style="min-height: 500px" ng-show="!main.showMain" id="mainPass">
                <br>
                <div style="min-height: 500px" ng-include="'main_screen/main_chgpswd.html'"></div>
            </div>
        </div>
    </div>
</div>
