<div layout="column" style="max-width: 90%; width: 1000px">
    <div layout="row" class="mainTitle"><h1>IRPS</h1><h2>Backend</h2></div>
    <div class="md-whiteframe-z2">
    <md-toolbar>
      <h2 class="md-toolbar-tools"><span>Login</span></h2>
    </md-toolbar>
      <md-content layout="column" class="md-padding">
        <md-input-container>
          <label>Username</label>
          <input type="email" ng-model="username"/>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="password"/>
        </md-input-container>
        <div layout="row" layout-align="center center" style="padding-top:20px;">
          <md-button class="md-raised md-primary">Login</md-button>
          <div flex="flex"></div>
          <md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button>
        </div>
      </md-content>
    </div>
</div>
